.root {
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-4);
  height: var(--spacing-8);
}

.menu {
  list-style: none;
}

.link {
  color: var(--color-text-light);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}